{% import '@uscgov/shared/macros/_bytestosize.twig' as bytestosize %}
{% import '@uscgov/shared/macros/_filetype.twig' as filetype %}
{% set file_entity = file['#file'] %}
{% set filesize = bytestosize.bytestosize(file_entity.getSize()) %}
{% set icon = filetype.filetype(file_entity.getMimeType()) %}
{% set fileuri = file_entity.getFileUri() %}
{% set fileurl = file_url(fileuri) %}

{% if filesize and fileuri %}
  {% set filemeta = fileuri|get_ext ~ ', ' ~ filesize %}
{% endif %}

<a{{ attributes.addClass('button', 'button--download') }} href="{{ fileurl }}">
  <div class="download-button">
    <div class="{{ icon }} download-button__icon-type usc-icon icon-clear"></div>
    <div class="download-button__content">
      <div class="download-button__label">
      {{ download_text|render|striptags|trim ?: 'Download'|t }}
      {% if screenreader_text|render|striptags|trim %}
        <div class="visually-hidden">{{ screenreader_text }}</div>
      {% endif %}
      </div>
      {% if filemeta %}
        <div class="download-button__meta">{{ filemeta }}</div>
      {% endif %}
    </div>
    <div class="download-button_icon-download"></div>
  </div>
</a>
