<article{{ attributes.addClass('related-news-item') }}>
  {{ title_suffix }}
  <a class="related-news-item__link" href="{{ url }}">
    <h3 class="related-news-item__title">{{ title }}</h3>
    <div class="related-news-item__published">{{ formatted_date }}</div>
  </a>
</article>
