{% set search_id = 'mobile-search__input'|clean_unique_id %}
{% if search_type == 'searchapi' %}
  {% set action = action_object is defined ? action_object : '/search/content' %}
  {% set query_param = 'keys' %}
{% else %}
  {% set affiliate_object = drupal_config('usc_search.settings', 'affiliate') %}
  {% set action_object = drupal_config('usc_search.settings', 'link') %}
  {% set action = action_object is defined ? action_object : 'https://search.uscourts.gov/search' %}
  {% set affiliate = affiliate_object is defined ? affiliate_object : 'uscourts.gov' %}
  {% set query_param = 'query' %}
{% endif %}
<search role="search" class="mobile-search__wrapper">
  <form action="{{action}}" class="mobile-search__form">
    {% if search_type == 'searchgov' %}
      <input type="hidden" name="affiliate" id="affiliate" value="{{affiliate}}">
      <input type="hidden" name="locale" id="locale" value="{{ language.getId() }}">
    {% endif %}
    <label for="{{ search_id }}" class="mobile-search__label">
      {% if project_id == 'uscgov' %}
        {{ 'Search content'|t }}
      {% else %}
        {{ 'Search'|t }}
      {% endif %}
    </label>
    <div class="mobile-search__form-wrapper">
      <input name="{{ query_param }}" id="{{ search_id }}" type="text" class="mobile-search__input">
      <button class="mobile-search__button {{ project_id == 'toolbox' ? 'button' : '' }}" type="submit">
        <span class="visually-hidden">{{ 'Search'|t }}</span>
        {{ include(componentMetadata.path ~ '/images/magnify.svg') }}
      </button>
    </div>
  </form>
</search>
